@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
div{
    text-align: center;
}
input{
    background-color: aqua;
    border: none;
    border-radius: 5px;
}
button{
  padding: 10px;
  margin: 5px;
  border-color: rgb(166, 226, 164);
  background-color:rgb(216, 238, 215) ;
  box-shadow: 4px 3px 2px rgb(94, 91, 91);
}
button:hover{
    background-color: black;
    border: 2px solid #f5f5ec;
    color: white;
    transition: all ease 0.6s;
    box-shadow: 6px 5px 5px rgb(94, 91, 91);

}
input:hover{
    background-color: rgba(192, 228, 205, 0.459);
    transition: all ease 1s;
}
body{
                background-color: rgb(216, 238, 215);

            }
            .dropdown-menu{
                background-color: rgb(166, 226, 164);
}
h1{
    text-align: center;
    font-family: Roboto;
    color: rgb(1, 61, 61);
    padding-top: 15px;
}
p{
  font-family: Poppins;
}

